
/* russo-one-regular - latin */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Russo_One/russo-one-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Russo One'), local('RussoOne-Regular'),
         url('fonts/Russo_One/russo-one-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Russo_One/russo-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Russo_One/russo-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Russo_One/russo-one-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Russo_One/russo-one-v6-latin-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
  }

/* share-tech-mono-regular - latin */
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
         url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Share_Tech_Mono/share-tech-mono-v7-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
  }


/* unica-one-regular - latin */
@font-face {
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Unica_One/unica-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Unica One'), local('UnicaOne-Regular'),
         url('fonts/Unica_One/unica-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Unica_One/unica-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Unica_One/unica-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Unica_One/unica-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Unica_One/unica-one-v5-latin-regular.svg#UnicaOne') format('svg'); /* Legacy iOS */
  }

/* vt323-regular - latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/VT323/vt323-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('VT323 Regular'), local('VT323-Regular'),
         url('fonts/VT323/vt323-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/VT323/vt323-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/VT323/vt323-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/VT323/vt323-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/VT323/vt323-v9-latin-regular.svg#VT323') format('svg'); /* Legacy iOS */
  }
