body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  color: white;
}

 /* main component to hide and show content */
.hidden {
  display: none !important;
}

.hiddentext {
  visibility: hidden !important;
}

/* copyright footer */
footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: rgba(255,255,255,.1);
  width: 100vw;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 10px;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
}

/* title page */
#page1 {
  z-index: 1000;
  background: black;
  padding-top: 100px;
}

/* title slippting in two */
#page1 .title {
  display: block;
  margin-top: 10%;
}

#page1 h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Unica One';
  font-size: 200px;
  line-height: 200px;
  transition: all 0.4s ease-in-out;
}

#page1 h2:hover {
  cursor: pointer;
}

#page1 h1.top, #page1 h1.bottom{
  overflow: hidden;
  height: 100px;
  text-align: center;
  margin: auto;
}

#page1 h1.bottom span {
  display: block;
  margin-top: -100px;
} 

#page1 h1.mid span, #page1 h1.mid {
  display: block;
  width: 100vw;
  text-align: center;
  margin: auto;
} 

#page1 .title:hover h1.top:first-child {
	transform: translateY(-25px);
	opacity: 0.7;
}

#page1 .title:hover .bottom:last-child {
	transform: translateY(25px);
	opacity: 0.7;
}

.top:first-child {
  border-top: 1px solid rgba(255,255,255,0.5);
  width: 50%;
}

.bottom:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  width: 50%;
}

#page1 h2.mid {
  margin: 0 auto;
  text-align: center;
  font-family: 'VT323';
  text-transform: lowercase;
  font-size: 50px;
	letter-spacing: 30px;
	line-height: 10px;
	position: absolute;
  width: 100%;
  opacity: 0;
	transform: scale(0.5);
	transition: all 0.4s ease-in-out 0s;
}

#page1 .title:hover .mid {
	transition-delay: 0.3s;
	opacity: 1;
  margin-top: -10px;
	transform: scale(1);
}

/* synopsis and instruction on front page */
#page1 p {
  margin: 20px auto;
  text-align: center;
  width: 30vw;
  font-family: 'Share Tech Mono';
  font-size: .9em;
}

#page1 p:first-of-type {
  margin: 100px auto 0px auto;
}

/* actual game page */
#page2 {
  z-index: 500;
  background: rgba(0,0,0,.1);
}

#page2 h1 {
  color: black;
}

/* taskmanager */
.taskmanager {
  background: black;
  position: fixed;
  top:0;
  left: 0;
  padding: 25px;
  padding-left: 50px;
  transform: scale(.7);
  transform-origin: 0% 0%;
}

.taskmanager h4 {
  font-family: "Share Tech Mono";
  margin: -10px 0 10px -20px;
}

.taskmanager button {
  border-radius: 0;
  color: black;
  background: white;
  border: 0;
  padding: 5px 10px;
  font-family: "Share Tech Mono";
  cursor: pointer;
  font-size: 14px;
}

.taskmanager button:hover {
  text-decoration: underline;
}

.taskmanager button:active {
  font-size: .7em;
  box-shadow: none;
  transform: scale(.9)
}

/* customized checkboxes */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Share Tech Mono";
}

/* hide browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* create  custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* when checkbox is checked */
.checked .checkmark {
  background-color: #333;
}

/* create checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.checked .checkmark:after {
  display: block;
}

/* style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* draggable windows */
#page2 .window {
  background: white;
  border: 1px solid black;
  border-top: 15px solid black;
  color: black;
  padding: 5px;
}

/* top bar with closing icon */
.close {
  position: absolute;
  right: 2px;
  top: -15px;
  color: white;
  font-size: 13px;
}

.close i { padding-left: 4px;}

.fa-window-minimize {
  font-size: 8px;
  top: -2px;
  position: relative;
}

.fa-window-restore {
  font-size: 11px;
  top: 0px;
  position: relative;
}

.close .fa-close {
  cursor: pointer;
}

/* style for list of files */
#page2 .window.one {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 100;
  padding: 0;
}

/* table of files */
#files {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Share Tech Mono';
}

#files td {
  border: 1px dashed rgba(0,0,0,.8);
  padding: 3px;
  font-size: 12px;
  padding-left: 10px;
}

#files tr:first-child td {
  padding: 0;
  height: 20px;
  font-size: 12px;
  padding-left: 10px;
  color: #333;
  font-weight: bold;
}

#files tr:not(:first-child) td:not(:first-child) {
  text-align: right;
  padding-right: 10px;
}

#files tr:not(:first-child) td:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

#files tr:first-child td {
  border-style: solid; border-top: none;
}
#files tr:first-child td:first-child {border-left: none;}
#files tr:first-child td:last-child {border-right: none;}

#files tr:last-child td {border-bottom: none;}
#files td:first-child {border-left: none;}
#files td:last-child {border-right: none;}

/* glitch when encrypted file is open */
.window.one img.glitch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
}

/* style for opened files */
#page2 .window.openedfile {
  width: 500px;
  max-height: 50vh;
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 100;
}

/* text in opened file */
#page2 .window.openedfile p {
  max-height: 50vh;
  font-family: 'Share Tech Mono';
  overflow: scroll;
  padding: 0;
  font-size: 12px;
  margin-top: 0;
}

#page2 .window.openedfile p span {
  display: block;
  text-indent: 2em;
  font-family: 'Share Tech Mono';
  padding: 0;
  font-size: 15px;
  margin: 5px auto;
}

/* style for mails */
#page2 .window.two {
  height: 600px;
  width: 900px;
  position: relative;
  top: 5%;
  left: 20%;
  z-index: 100;
  padding: 0;
}

/* upper section: list of mails */
.maillist {
  background: rgba(0,0,0,.2);
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}

.maillist table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  font-family: "Share Tech Mono";
}

.maillist table td, .maillist table th {
  border-bottom: 1px dashed black;
  text-align: left;
}


.maillist table tr:first-child {
  height: 20px !important;
}

.maillist table tr:not(:first-child) {
  height: 45px !important;
  cursor: pointer;
  padding: 3px 0 3px 2px;
}

.maillist table tr td:first-child {
  width: 20px;
  color: rgba(0,0,0,.7);
  padding: 5px;
}

.maillist table tr:not(:first-child) td {
  padding: 3px 0 3px 5px;
}

.maillist table tr:not(:first-child) td:hover {
  text-decoration: underline;
}

.maillist table th {
  background: rgba(255,255,255,.5);
}

tr.unread {
  background: rgba(255,255,255,.7);
}

/* content of the emails */
.mailcontent {
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: calc(100% - 250px);
   overflow: scroll;
}

.mailcontent .email {
  z-index: 1;
  padding: 25px;
  overflow: scroll;
  font-family: "Share Tech Mono";
}

/* style for chat window */
#page2 .window.three {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 5%;
  left: 35%;
  z-index: 100;
}

/* choices in chat conversation */
.choices a {
  display: block;
  padding-bottom: 5px;
  font-family: 'Share Tech Mono';
  color: black;
}

.choices a:hover { text-decoration: underline;}

/* code to enter the conversation */
#code {
  display: block;
  margin: 20px auto;
  border: 2px solid black;
  padding: 5px;
  background: rgba(0,0,0,.05);
  font-family: "Share Tech Mono";
}

.chat label {
  font-family: 'Share Tech Mono';
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
}

/* Box holding the whole chat */
.chat {
  width: 500px;
  height: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Share Tech Mono';
  overflow: scroll;
}

/* visual of messages */
.message, .answer {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 10px;
}

.message {
  text-transform: lowercase;
}

.answer {
  text-align: right;
  background: rgba(0,0,0,0.1);
}

/* start button */
.start, .restart {
  text-align: center;
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  font-family: 'Share Tech Mono';
}

/* signal of the end */
.end {
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family: 'Share Tech Mono';
}

/* navigation bar (on the right) to reopen closed window */
nav {
  background: black;
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 10px;
  text-align: center;
}

a {color: white;text-decoration: none;}
a:hover { color: #ff5252}

nav a {
  display: block;
  padding-bottom: 20px;
  font-family: 'Share Tech Mono';
}

nav h3 {
  font-family: 'Russo One';
  margin-top: 0;
  font-size: 1em;
}

/* welcome box when beginning of the game */
.welcome {
  height: 500px;
  width: 400px;
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
  box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tempbg {
  background: #1f2122;
  opacity: .9;
  width: 100wh;
  height: 100vh;
  z-index: 2000;
  position: relative;
}

.welcome button {
  font-size: 15px;
  width: 100px;
  height: 30px;
  border: 0px;
  background: #1f2122;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.welcome h1,.welcome h2 {
  margin: 0;
  padding: 2px;
  font-weight: normal;
  letter-spacing: -2px;
}

.welcome h4 {
  border-bottom: 1px dashed black;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.welcome p {
  margin: 0px auto;
  font-size: 14px;
}

.welcome {
  font-family: "Share Tech Mono";
}

.welcome strong {
  font-weight: normal;
  color: #cc3737;
}

