@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: white;
    color: white;
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 1em;
    background: white;
}

p {
    font-size: 1em;
    color: #888;
    line-height: 1.3em;
    font-weight: lighter;
    margin: 10px auto;
    text-align: center;
    color: rgba(0,0,0,.7);
    font-family: "Share Tech Mono";
}

a {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 0px white;
    color: rgba(0,0,0,.7);
    transition: color 0.6s;
}

a:hover {
    text-decoration: underline;
    color: #B73A3A;
    transition: color 0.1s;
}

strong {
    color: black;
    font-weight: bold;
}

.dark strong {
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.message {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    background: rgba(229, 229, 229, .3)
}

p.message:before {
    content: 'JPT47: ';
    font-weight: bold;
}

p.answer {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    text-align: right;
    background: rgba(150, 150, 150, .5);
}

p.answer:before {
    content: 'YOU: ';
    font-weight: bold;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
}

p.endlink {
    font-weight: bold;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em; 
}
